# BEGIN WordPress

Redirect 301 /private-events/ /event-planning/
Redirect 301 /private-events /event-planning/
Redirect 301 /WEDDINGS/ /wedding-reception-music/
Redirect 301 /weddings/ /wedding-reception-music/
Redirect 301 /wedding-bands/ /wedding-reception-music/

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
